{% extends "WypozyczalniaTestBundle::base.html.twig"%}

{% block pageTitle %}
   Strona Główna | {{ parent() }}
{% endblock %}
{% block contentContainer %}
    <div class="opinion-book">
  
        <h3>Lista Wszystkich filmow</h3>
        <h4>Wszystkich filmów: {{ history|length }}</h4>
                         
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Tytuł</th>
                    <th>Rok powstania</th>
                    <th>Cena</th>
                    <th>ilość pobrań</th>
                </tr>
            </thead>
            <tbody>
                {% for row in history %}

                        <td>{{ row.companyName|upper }}</td>
                        <td>{{ row.startDate|date('Y') }}</td>
                        <td>{{ row.purchasePrice|number_format(2, ',', ' ') }} zł‚</td>
                        <td>{{ row.quantity|number_format(0, ',', ' ') }}</td>                    
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="7">Brak wpisów</td>
                    </tr>
                
                {% endfor %}
                

            </tbody>
        </table>

    </div>
{% endblock %}