{#{% extends "WypozyczalniaTestBundle::base.html.twig"%}

{% block contentContainer %}
    <h1 class="title">Login</h1>

    {% if error %}
        <div class="error">{{ error.message }}</div>
    {% endif %}

    <form action="{{ path("wypozyczalnia_security_check") }}" method="post" id="login">
        <div>
            <label for="username">Login</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>

        <div>
            <label for="password">Hasło</label>
            <input type="password" id="password" name="_password" />
        </div>

        <button type="submit" class="sf-button">
            <span class="border-l">
                <span class="border-r">
                    <span class="btn-bg">Zaloguj się</span>
                </span>
            </span>
        </button>
    </form>
{% endblock %}

{% set code = code(_self) %}
#}


{% extends 'FOSUserBundle:Security:login.html.twig' %}
{%block stylesheets %}

    {{ parent() }}
{#
        .form-signin {
            max-width: 300px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
        }#}

{%endblock%}
{% block pageTitle %}
   Panel Użytkownika | {{ parent() }}
{% endblock %}
{% block contentContainer %}
    <div class="container">

        <form class="form-signin" method ="POST" action="{{path('wypozyczalnia_glowna')}}" data-validate="parsley">
            <h2 class="form-signin-heading">Zaloguj się</h2>
            <input type="text" id="username" class="input-block-level" name="username" placeholder="Login" data-trigger="change" data-required="true" data-type="string">
            <input type="password" class="input-block-level" name="password" placeholder="Hasło" data-trigger="change" data-required="true">
            <label class="checkbox">
                <input type="checkbox" name="remember" value="remember-me"> Pamiętaj mnie
            </label>
            <button class="btn btn-large btn-primary" type="submit">Zaloguj</button>
            <a href="{{path('wypozyczalnia_rejestracja')}}" >Zarejestruj się</a>
        </form>

    </div> 
    {% if name is defined%}
    <div class="alert-info fade in">
        <strong>{{name}}</strong>
    </div>
    
    
    
		<div class="container">
			<header class="row">
				<div class="page-header text-uppercase">
					{% block header %}
					{% endblock %}
				</div>
			</header>
{#			{% if is_granted('ROLE_USER') %}
				<div class="row">
					<p>
						Jesteś zalogowany jako {{app.user.username}}. 
						<a href="{{path('fos_user_security_logout')}}" class="btn btn-primary">Wyloguj</a>
					</p>
				</div>
			{% else %}
				<p>
					Nie jesteś zalogowany - 
					<a href="{{path('fos_user_security_login')}}" class="btn btn-primary">Zaloguj</a>
					Jeśli nie masz konta - <a href="{{path('fos_user_registration_register')}}" class="btn btn-primary">Zarejestruj się</a>
				</p>
			{% endif %}
			<div class="row">
				<div class="col-md-4">
					{% block menu %}
					{% endblock %}
				</div>
				<div class="col-md-8">
					{% block content %}
						{% block fos_user_content %}
						{% endblock %}
					{% endblock %}
				</div>
			</div>   #} 
    </div>
    
    
    
    
    {%endif%}
    {%endblock%}